
body{
    background-color: rgba(242, 242, 242, 1);
    min-height: 99.6vh;
}
header{
    display: flex;
    height: 55px;
    min-width: 100%;
    background-color: white;
}
.parte-esquerda-logo{
    
    min-width: 50%;
    
}
.imagem-logo{
    width: 105px;
    padding-left: 30px;
}
.parte-direita-logo{
    min-width: 48%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.logout {
    color: rgba(19, 135, 241, 1);
    cursor: pointer;
}
