
.header-especialidade{
    display: flex;
    min-height: 5vh;
    width: 100%;
    background-color: white;
    padding-right: 10px;
}

.parte-esquerda-logo{
    min-width: 50%;
}

.imagem-logo{
    width: 75px;
    
}

.parte-direita-logo{
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.logout {
    color: rgba(19, 135, 241, 1);
    cursor: pointer;
}
