*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body-disponivel{
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    min-height: 99.8vh;
    align-items: center;
}
.container-total-especialidade-disponivel {
    align-items: center;
    justify-content: center;
    width: 800px;
}
.responsivo-disponivel{
    max-width: 100%;
}
.imagem-empresa-escolhe-disponivel{
    margin: 24px 0px;
    max-width: 100%;
    height: 92px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: contain;
    background-image: url('../../img/imagemFundo/images.png');
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    display: flex;
    justify-content: right;
}
.adicionar-especialidade-disponivel{
    margin-bottom: 24px;
    max-width: 100%;
}
.tabela-adicionar-especialidade-disponivel{
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
}
.botao-alterar-imagem-disponivel{
    height: 25px;
    max-width: 25px;
}
.botao-imagem-disponivel{
    max-width: 50px;
    height: 50px;
    margin: 8px;
    background-color: transparent;
}
.botao-imagem-disponivel:hover{
    background-color: transparent;
}
.titulo-adicionar-especialidade-disponivel{
    font-size: 20px;
}
.botao-especialidade-disponivel{
    height: 45px;
    width: 120px;
    background-color: rgba(22, 213, 41, 1);
    border-radius: 8px;
    transition: 1s;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    margin-top: 18px;
}
.botao-especialidade-disponivel:hover{
    background-color: rgb(39, 234, 59)
}
.inputs-centralizados-disponivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin-right: 10px;
}
.escolha-especialidade-disponivel{
    border: none;
    width: 280px;
    height: 45px;
    color:rgba(112, 115, 119, 1);
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    padding-left:24px ;
    margin-bottom: 8px;
}
.input-quantidade-disponivel{
    background-color: white;
    border: none;
    width: 73px;
    height: 45px;
    color:rgba(112, 115, 119, 1);
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    padding-left: 24px ;
    margin-left: 24px;
    margin-right: 24px;
}
.centralizando-inputs-disponivel{
    display: flex;
    margin-top: 8px;
}
label{
    margin-bottom: 9px;

}
.input-quantidade-disponivel-label{
    margin-left: 24px;
}
.styled-table-disponivel{
    border-collapse: collapse;
    font-size: 13px;
    min-width: 100%;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
thead tr {
    background-color: rgba(223, 223, 223, 1);
    color: black;
    text-align: center;   
}
th,td {
    padding: 12px 15px;
}
tbody tr{
    border-bottom: 1px solid #8b8c8c;
}
.styled-table-disponivel tbody tr.active-row-disponivel {
    color: rgba(112, 115, 119, 1);
    text-align: center;
}
.botao-editar-disponivel{
    background-image: url('../../img/imagemFundo/img.editar.png');
    width: 23px;
    height: 21px;
    background-color: transparent;
}
.botao-deletar-disponivel{
    background-image: url('../../img/imagemFundo/imgDeletar.png');
    width: 23px;
    height: 21px;
    background-color: transparent;
}
.botao-deletar-disponivel:hover{
    background-color: transparent;
}
.botao-editar-disponivel:hover{
    background-color: transparent;
}
@media (max-width: 734px) {
    .body-disponivel {
        min-height: auto; /* Redefina a altura para o padrão */
    }
    .container-total-especialidade-disponivel {
        max-width: 100%; /* Faça com que o contêiner ocupe a largura total */
    }
    .botao-especialidade-disponivel {
        width: 60px;
    }
    .escolha-especialidade-disponivel{
        width: 160px;
        padding-left: 10px ;
    }
    .input-quantidade-disponivel{
        margin-left: 10px;
        margin-right: 10px;
    }
}