*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-total{
    min-height:100vh;
    display: flex;
}

.parte-esquerda-entrar{
    min-width: 65%;
    background-image: url("../../img/imagemFundo/imagem-entrar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte-direita-entrar{
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formulario-entrar{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: last baseline;
    margin-top: 25px;
    width: 290px;
    height: 280px;
}

.Propaganda-entrar{
    color: white;
    font-size: 80px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 8px;
}

