.parte-superior{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 

}

.logo{

    
}

.descricao-logo{
    color: rgba(112, 115, 119, 1);
    margin: 8px 0px 16px 0px;
 }

.titulo{
    color:rgba(73, 187, 198, 1);
}