
body{
    background-color: rgba(242, 242, 242, 1);
    
}
header{
    display: flex;
    height: 55px;
    min-width: 100%;
    background-color: white;
}

.container-total-especialidade{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagem-empresa-escolhe{
    margin: 24px 0px;
    width: 705px;
    height: 92px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: contain;
    background-image: url('../../img/imagemFundo/images.png');
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    display: flex;
    justify-content: right;
}
.adicionar-especialidade{
    margin-bottom: 24px;
    width: 705px;
}

.tabela-adicionar-especialidade{
    width: 705px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
}

.botao-alterar-imagem{
    height: 25px;
    width: 25px;
}

.botao-imagem{
    width: 50px;
    height: 50px;
    margin: 8px;
    background-color: transparent;
}

.botao-imagem:hover{
    background-color: transparent;
}

.titulo-editar-especialidade{
    font-size: 20px;
}

.botao-editarEspecialidade{
    height: 45px;
    width: 120px;
    color: black;
    background-color: yellow;
    border-radius: 8px;
    transition: 1s;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    margin-top: 18px;
}
.botao-editarEspecialidade:hover{
    background-color: rgb(255, 230, 0);
}

.inputs-centralizados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
}

.escolha-especialidade{
    border: none;   
    width: 280px;
    height: 45px;
    color:rgba(112, 115, 119, 1);
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    padding-left:24px ;
    margin-bottom: 8px;
}

.input-quantidade{
    background-color: white;
    border: none;   
    width: 73px;
    height: 45px;
    color:rgba(112, 115, 119, 1);
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(156, 156, 156);
    padding-left: 24px ;
}

.centralizando-inputs{
    display: flex;
    margin-top: 8px;
}

label{
    margin-bottom: 9px;
}




