*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

.div-lado-a-lado{
    display: flex;
    min-width: 100%;
}

.input-esquerdo{
    display: flex;
    flex-direction: column;
  
}

.input-direito{
    display: flex;
    flex-direction: column;
}

.input-bairro{
    background-color: rgba(208, 231, 253, 0.4);
    width: 110px;
    height: 45px;
    border-radius: 2px;
    border: none;
    margin-right: 8px;
}

.input-endereco{
    background-color: rgba(208, 231, 253, 0.4);
    border-radius: 2px;
    border: none;
    
    width: 185px;
    padding: 0px;
}

label{
    font-size: 15px;
    white-space: nowrap; 
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.parte-direita{   
    min-width: 65%;
    background-image: url("../../img/imagemFundo/Fundo-Registrar2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.parte-esquerda{
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-total{
    background-color: white;
}
@media screen and (max-width: 867px){
    .parte-esquerda{
        min-width: 100%;
    }
    .parte-direita{
        display: none;
    }
}