*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

.container-total{
    background-color: white;
}

.parte-esquerda{
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte-direita{   
    min-width: 65%;
    background-image: url("../../img/imagemFundo/Fundo-Registrar2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: last baseline;
    height: 530px;
    width: 290px;
    border: 1px solid red;
}

